.admin-container {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
}

.sidebar {
  width: 250px;
  background-color: #909497;
  padding: 20px;
  position: fixed;
  height: 100%;
}

.sidebar-header h2 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
  border-bottom: 4px solid #495057;
  padding-bottom: 10px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: block;
  color: #ced4da;
  font-size: 40px; /* Increased font size */
  font-weight: bold; /* Bold font */
  padding: 15px 20px;
  text-decoration: none;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Arial', sans-serif;
}

.nav-link:hover {
  background-color: #616972;
  color: #fff;
  padding: 15px 25px; /* Increased hover padding for a larger hover area */
}

.nav-link.active {
  background-color: #9da4ab;
  color: #fff;
}

.content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  background-color: #ffffff;
}
